# Binaries
gons
main
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp/

# Logs
*.log
logger.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.db-journal

# Dependencies
vendor/
node_modules/
package-lock.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
public/build/
dist/
